annotated-types 
anyio
argon2-cffi
argon2-cffi-bindings
asyncpg
bcrypt 
cffi 
click 
cryptography 
fastapi 
greenlet # ?
h11 
idna
PyJWT
passlib==1.7.4
psycopg2 # unneeded
pycparser 
pydantic 
pydantic_core
python-multipart
setuptools==69.5.1 # ??
six # ??
slowapi
sniffio 
SQLAlchemy # ?? 
starlette 
typing_extensions 
uvicorn 
wheel==0.43.0 # ??