annotated-types 
anyio 
argon2-cffi 
argon2-cffi-bindings 
bcrypt 
cffi 
click 
cryptography 
fastapi 
greenlet 
h11 
idna
PyJWT
passlib==1.7.4
psycopg2 
pycparser 
pydantic 
pydantic_core 
setuptools==69.5.1
six 
sniffio 
SQLAlchemy 
starlette 
typing_extensions 
uvicorn 
wheel==0.43.0
